*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    list-style: none;

}
a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf5eb;


}
/* common css */

.container{
    width: 1080px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.download{
    background-color: #25d366;
    color: #1c1e21;
    padding: 16px 28px;
    font-size: 16px;
    border: 1px solid #1c1e21;
    border-radius: 35px ;
     overflow: hidden; 
     z-index: 1;
}
.download::after{
    background-color: #1c1e21 !important;
    width: 100% !important;
    height: 80px !important;
    border-radius: 50%;
    top: 100%;
    bottom: auto;
    z-index: -1;
    transition: .5s !important;


}
.download:hover{
    color: white;
}
.download:hover::after{
    top:0;
    transform: scale(1.5);
}
/* commom css ends */

/* navbar starts */
nav{
    padding: 30px 50px 100px 50px;


}
nav .logo img{
    width:120px;
}
nav .logo,
nav .menu,
nav .download_button_group{
    width: 33.33%;

}

nav .menu ul li, 
nav .download_button_group ul li{
    display: inline-block;


}

nav .download_button_group ul li a,
nav .menu ul li a{
    color:#1c1e21 ;
    font-size: 18px;
    line-height: 25px;
    margin: 0 10px;
    position: relative;
    display: block;
    
}
nav .download_button_group ul li a::after,
nav .menu ul li a::after{
    content: "";
    width:0% ;
    height: 2px;
    background-color: #25d366;
    position: absolute ;
    bottom: -5px;
    left: 0;
    transition:0.3s;
    
}
nav .download_button_group ul li:hover a::after,
nav .menu ul li:hover a::after{
    width: 100%;
}

nav .download_button_group ul{
    text-align: right;
}
 nav .download_button_group ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }























 